{% extends 'base.html' %}

{% block title %}Добавить рецензию{% endblock %}


{% block page_header %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1>Добавить рецензию</h1>
    </div>
{% endblock %}
{% block content %}
    <br/>
    {%  if form.non_field_errors   %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ form.non_field_errors  }}
        </div>
    {% endif %}

    <form method="post" action="." class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset >
            <div class="well">
    			<input type="hidden" name="author" id="id_author" value="{{ user.get_profile.id }}">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="control-group{% if form.name.errors %} error {% endif %}">
                            <label class="control-label" for="id_name">Название</label>
                            <div class="controls" >
                                {{ form.name }}
                                <span class="help-inline">{% if form.name.errors %} {{ form.name.errors }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="control-group {% if form.text.errors %} error {% endif %}">
                            <label class="control-label" for="id_text">Рецензия</label>
                            <div class="controls">
                                <textarea rows="8" style="width: 400px;" cols="280" name="text" id="id_text"></textarea>
                                <span class="help-inline">{% if form.text.errors %} {{ form.text.errors }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group {% if form.photo.errors %} error {% endif %}">
                    <label class="control-label" for="id_photo">Фото</label>
                    <div class="controls">
                        {{ form.photo }}
                        <span class="help-inline">{% if form.photo.errors %} {{ form.photo.errors }}{% endif %}</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}