{% extends 'base.html' %}

{% block title %}Интерфейс администратора{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        {% if users %}
            <h3>Пользователи</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        Пользователь
                    </th>
                    <th>
                        Событий
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr>
                        <td><a href="/admin/auth/user/{{ u.id }}/">{{ u.username }}</a></td>
                        <td><a href="{% url activate-user u.id %}">{{ u.events_number }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
