{% extends 'base.html' %}
{% load diff_date %}

{% block title %}Календарь{% endblock %}

{% block content %}
<div class="row-fluid">
        <h3 class="pull-left">{{year}},{{month_name}}</h3>
        <div class="btn-group pull-right" style="margin:0 0 10px 0;">
            <a class="btn"   href="{% url calendar-view prev_month prev_year %}"><i class="icon-arrow-left"></i> Назад</a>
            <a class="btn"   href="{% url calendar-view-now %}"><i class="icon-calendar"></i> Сегодня</a>
            <a class="btn" href="{% url calendar-view next_month next_year %}">Вперед <i class="icon-arrow-right"></i></a>
        </div>
</div>
<div class="row-fluid">
    <table class="table table-condensed table-bordered" id="calendar-table">
        <thead>
            <tr>
                <th>ПН</th>
                <th>ВТ</th>
                <th>СР</th>
                <th>ЧТ</th>
                <th>ПТ</th>
                <th>СБ</th>
                <th>ВС</th>
            </tr>
        </thead>
        <tbody>
        {% for row in days_matrix %}
            <tr>{% for cell in row %}{% for event in events %}{% if  cell|elem:0|date_le:event.date_end and cell|elem:0|date_ge:event.date_start and event.accepted %}{{cell|add}}{% endif %}{% endfor %}  
                {% ifnotequal cell|elem:1 0 %}
                    <td style="background:white;cursor:pointer;" >
                        <a href="/events/calendar/{{cell|elem:0|day}}/{{month}}/{{year}}" >
                            <div style="width: 100%; height: 100%; display: inline-block;">
                            <p style="font-size:30px;margin:10px;">
                                {{cell|elem:0|day}}
                            </p>
                            <p style="float:right;margin-top:10px;font-size:15px;" title="Количество событий в этот день">
                                {{cell|elem:1}}
                            </p>
                            </div>
                        </a>
                    </td>
                {% else %}
                <td>
                    <p style="font-size:30px;margin:10px;">
                        {{cell|elem:0|day}}
                    <p>
                    &nbsp;
                </td>
                {% endifnotequal %}
            {% endfor %} 
            </tr>
        {% endfor %} 
        </tbody>
    </table>
</div>

{% endblock %}


   