{% extends 'base.html' %}

{% block title %}Создать событие{% endblock %}


{% block page_header %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1>Создать событие</h1>
    </div>
{% endblock %}
{% block content %}
    <br/>
    {%  if form.non_field_errors   %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ form.non_field_errors  }}
        </div>
    {% endif %}

    <form method="post" action="." class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset >
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="control-group{% if form.name.errors %} error {% endif %}">
                            <label class="control-label" for="id_name">Название</label>
                            <div class="controls" >
                                {{ form.name }}
                                <span class="help-inline">{% if form.name.errors %} {{ form.name.errors }}{% endif %}</span>
                            </div>
                        </div>
                        <div class="control-group {% if form.date_start.errors %} error {% endif %}">
                            <label class="control-label" for="id_date_start">Дата начала события</label>
                            <div class="controls">
                                {{ form.date_start }}
                                <span class="help-inline">{% if form.date_start.errors %} {{ form.date_start.errors }}{% endif %}</span>
                            </div>
                        </div>
                        <div class="control-group {% if form.date_end.errors %} error {% endif %}">
                            <label class="control-label" for="id_date_end">Дата окончания события</label>
                            <div class="controls">
                                {{ form.date_end }}
                                <span class="help-inline">{% if form.date_end.errors %} {{ form.date_end.errors }}{% endif %}</span>
                            </div>
                        </div>
                        {% ifnotequal avaliable_authors|length 1%}
                            <label class="control-label" for="id_author">От чьего имени:</label>
                            <input type="hidden" name="author" id="id_author" value="{{ user.get_profile.id }}">
                            <div  class="control-group {% if form.author.errors %} error {% endif %}">
                                <div class="controls">
                                        {%  if user.is_authenticated %}
                                        <select id = "select_author" onchange="$('#id_author')[0].value = $('#select_author')[0].options[$('#select_author')[0].selectedIndex].value;">
                                            {% for u in avaliable_authors %}
                                                <option value="{{ u.id }}"
                                                        {% ifequal user.get_profile.id u.id %}
                                                            selected="selected">Моего</option>
                                                        {% else %}
                                                            >{% if  u.name%}
                                                                    {{ u.name }}
                                                            {% else %}
                                                                {{ u.user.username }}
                                                                {% endif %} 
                                                        {% endifequal %}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                        <span class="help-inline">{% if form.author.errors %} {{ form.author.errors }}{% endif %}</span>

                                </div>
                            </div>
                        {% endifnotequal %}
                    </div>
                    <div class="span5">
                        <div class="control-group {% if form.description.errors %} error {% endif %}">
                            <label class="control-label" for="id_description">Описание</label>
                            <div class="controls">
                                <textarea rows="8" style="width: 400px;" cols="280" name="description" id="id_description">{{ form.description.value }}</textarea>
                                <span class="help-inline">{% if form.description.errors %} {{ form.description.errors }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group {% if form.poster.errors %} error {% endif %}">
                    <label class="control-label" for="id_poster">Постер</label>
                    <div class="controls">
                        {{ form.poster }}
                        <span class="help-inline">{% if form.poster.errors %} {{ form.poster.errors }}{% endif %}</span>
                    </div>
                </div>
                <div class="control-group {% if form.logo.errors %} error {% endif %}">
                    <label class="control-label" for="id_logo">Логотип</label>
                    <div class="controls">
                        {{ form.logo }}
                        <span class="help-inline">{% if form.logo.errors %} {{ form.logo.errors }}{% endif %}</span>
                    </div>
                </div>
                <div class="control-group {% if form.tags.errors %} error {% endif %}">
                    <label class="control-label" for="id_tags">Теги</label>
                    <div class="controls">
                        {{ form.tags }}
                        <span class="help-inline">{% if form.tags.errors %} {{ form.tags.errors }}{% endif %}</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn  btn-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}