{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}


{% block page_header %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h1>Редактировать профиль</h1>
    </div>
{% endblock %}
{% block content %}
    <br/>
    {%  if form.non_field_errors   %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ form.non_field_errors  }}
        </div>
    {% endif %}

    <form method="post" action="." class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset >
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label" for="id_name">Имя</label>
                            <div class="controls" style="width: 460px;">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_address">Адресс</label>
                            <div class="controls">
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_phone">Контактный телефон</label>
                            <div class="controls">
                                {{ form.phone }}
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="control-group">
                            <label class="control-label" for="id_description">Описание</label>
                            <div class="controls">
                                <textarea rows="8" style="width: 400px;" cols="280" name="description" id="id_description">{{ form.description.value }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_photo_1">Фото</label>
                    <div class="controls">
                        {{ form.photo_1 }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_photo_2">Фото</label>
                    <div class="controls">
                        {{ form.photo_2 }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_photo_3">Фото</label>
                    <div class="controls">
                        {{ form.photo_3 }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_photo_4">Фото</label>
                    <div class="controls">
                        {{ form.photo_4 }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_photo_5">Фото</label>
                    <div class="controls">
                        {{ form.photo_5 }}
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}