{% extends 'base.html' %}
{% load diff_date %}



{% block title %}{% if username %}События  пользователя {{ username.username }} {% endif %}{% if tagname %}События  с тегом {{ tagname }}{% else %} События{% endif %}{% endblock %}

{% block content %}

    {% if username %}
        <div class="well">
            <div class="row-fluid">
                <div class="span4 offset1">
                    <p>Имя : {{ username.get_profile.name }}</p>
                    <p>Телефон : {{ username.get_profile.phone }}</p>
                </div>
                <div class="span4">
                    <p>Описание : {{ username.get_profile.description|linebreaks }}</p>
                    <p>Адрес : {{ username.get_profile.address }}</p>
                </div>
            </div>
            {% if username.get_profile.photo_1 %}<a id="photo1" href="{{ username.get_profile.photo_1.url }}"> <img src = "{{ username.get_profile.thumb1 }}"  height="128" width="128" /></a>{% endif %}
            {% if username.get_profile.photo_2 %}<a id="photo2" href="{{ username.get_profile.photo_2.url }}"> <img src = "{{ username.get_profile.thumb2 }}" height="128" width="128" /></a>{% endif %}
            {% if username.get_profile.photo_3 %}<a id="photo3" href="{{ username.get_profile.photo_3.url }}"> <img src = "{{ username.get_profile.thumb3 }}" height="128" width="128" /></a>{% endif %}
            {% if username.get_profile.photo_4 %}<a id="photo4" href="{{ username.get_profile.photo_4.url }}"> <img src = "{{ username.get_profile.thumb4 }}" height="128" width="128" /></a>{% endif %}
            {% if username.get_profile.photo_5 %}<a id="photo5" href="{{ username.get_profile.photo_5.url }}"> <img src = "{{ username.get_profile.thumb5 }}" height="128" width="128" /></a>{% endif %}
        </div>
    {% endif %}
    {% for event in events %}
    <div class="well">
        <div class='row-fluid' style="min-height: 128px;">
            <div class="span2">
                {% if event.logo %}
                <img  height="128" width="128" src="{{ event.logo.url }} " />
                {% else %}
                <img  height="128" width="128" src="/static/no_image.png" />
                {% endif %}
            </div>
            <div class="span8">
                <h3><a href="{% url detail-event-view event.slug %}"> {{ event.name }}</a>
                </h3>
                <hr>
                <p>
                    {{ event.description|truncatewords:20 }}
                </p>
                    <p><a href="{% url detail-event-view event.slug %}"><b>Подробнее</b></a></p>
                    
                <h5>
                         {{  event|diff_date }}
                <h5>
                {% if event.tags.all %}
                <p>Теги:
                {% for tag in event.tags.all %}
                <a href="{% url tag-event-list tag.name "1"%}">{{ tag.name }}</a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
                {% endif %}
            </div>

            <div class="span2">
                    <dl>
                            <dt>Опубликовал : </dt>
                            <dd><a href="{% url  users-event-list event.user.id "1"%}">{{ event.user.get_profile.name }}</a></dd>
                            <dt>Дата :</dt>
                            <dd>
                                {% ifequal event.date_start  event.date_end %}
                                    {{ event.date_start|date:"d.m.Y" }}
                                {% else %}
                                    {{ event.date_start|date:"d.m" }}-{{ event.date_end|date:"d.m.Y" }}
                                {% endifequal %}
                              </dd>
                    </dl>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include 'paginator.html' %}
{% endblock %}
