{% extends 'base.html' %}
{% block title %}{{ event.name }}{% endblock %}

{% block content %}

    <section class='well' style ="min-height: 128px;">
        <div class='row-fluid'>
            <div class="span2">
                {% if event.logo %}
                    <img style="float: left;margin-right: 10px;" height="128" width="128" src="{{ event.logo.url }} " />
                {% else %}
                    <img style="float: left;margin-right: 10px;" height="128" width="128" src="/static/no_image.png" />
                {% endif %}
            </div>
            <div class="span6">
                <h3><a href="{% url detail-event-view event.slug %}"> {{ event.name }}</a>
                <script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>

                    <!-- Put this script tag to the place, where the Share button will be -->
                <script type="text/javascript"><!--
document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
--></script></h3>
                <p>
                    {% filter addslashes %}
                        {{ event.description|linebreaks }}{% endfilter %}
                </p>
                {% if event.tags.all|first%}
                    <p> Теги:
                        {% for tag in event.tags.all %}
                            <a href="{% url tag-event-list tag.name 1 %}">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>
                    Опубликовал : <a href="{% url  users-event-list event.user.id 1 %}">{{ event.user.get_profile.name }}</a>
                </p>
                <p>
                    Дата :  {% ifequal event.before 1 %}
                    {% now "d-m-Y" %}
                {% else %}
                    {{ event.date_start|date:"d-m-Y" }}
                {% endifequal %}
                </p>
                {% ifequal user event.user %}
                        <a href="{% url edit-event-view event.id %}">
                            <span class="btn btn-info">Редактировать</span>
                        </a>
                    {% else %}
                        {% if user.get_profile.moder%}
                            <a href="{% url edit-event-view event.id %}">
                                <span class="btn btn-info">Редактировать</span>
                            </a>
                         {% else %}
                            {% if user.get_profile in can_edit %}
                                <a href="{% url edit-event-view event.id %}">
                                    <span class="btn btn-info">Редактировать</span>
                                </a>
                            {% endif %}
                        {% endif %}
                            {% if user.get_profile.reviewer %}
                                <a href="{% url add-review event.id %}">
                                    <span class="btn btn-info">Добавить рецензию</span>
                                </a>
                            {% endif %}
                    {% endifequal %}
            </div>
            <div class="span3">
                {% if event.poster %}
                    <p>Постер:</p>
                    <a id="poster" href="{{ event.poster.url }}"> <img src = "{{ event.poster.url }}" style="width:270px;"  /></a>
                {% endif %}
            </div>
        </div>
        {% if reviews %}
            <h3>Рецензии:</h3>
    		{% for review in reviews %}
    			<section >
                    <div>
                        <h4>{{ review.name }}</h4>
                        <i>{{ review.user}},</i>
                        <i>{{ review.date_create}}</i>
                        <p>{{ review.text}}</p>
                        <div>
                            {% if review.photo %}
                                <a id="photo" href="{{ review.photo.url }}"> <img src = "{{ review.photo.url }}" style="width:270px; text-align:left;"  /></a>
                            {% endif %}
                        </div>
                    </div>
    			</section>
    		{% endfor %}
        {% endif %}
        <div style="margin-top:40px;">
            {% load disqus_tags %}
            {% disqus_show_comments  "aboutevents" %}
        </div>


				
    </section>
{% endblock %}
