{% extends 'base.html' %}


{% block title %}Редактировать событие{% endblock %}

{% block content %}
    <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
            {{ form.as_p }}
    </fieldset>
    <button class="btn" type="submit">Сохранить</button>
    </form>
{% endblock %}