{% extends 'base.html' %}

{% block title %}Успешная регистрация{% endblock %}


{% block page_header %}
    <div class="page-header">
        <h1>Регистрация прошла успешно ! Добро пожаловать !</h1>
    </div>
{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="span4">
            <div class="well"  style="padding: 8px 0;">
                <ul class="nav nav-list">
                    <li><a href="{% url profile-edit user.get_profile.id %}">Редактировать профиль</a></li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="well"  style="padding: 8px 0;">
                <ul class="nav nav-list">
                    <li><a href="{% url create-view %}">Создать событие</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}