{% extends 'base.html' %}

{% block title %}Интерфейс модератора{% endblock %}

{% block content %}
    {% if user.get_profile.moder %}
        {% if users %}
            <h3>Пользователи ожидают активации</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        Пользователь
                    </th>
                    <th>
                        Активировать
                    </th>
                    <th>
                        Удалить
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr>
                        <td><a href="/admin/auth/user/{{ u.id }}/">{{ u.user.username }}</a></td>
                        <td><a href="{% url activate-user u.id %}"><i class="icon-ok-sign"></i>Активировать</a></td>
                        <td><a href="{% url delete-user u.id %}"><i class=" icon-remove-sign"></i>Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if events %}
            <h3>События ожидают активации</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        Событие
                    </th>
                    <th>
                        Активировать
                    </th>
                    <th>
                        Удалить
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for e in events %}
                    <tr>
                        <td><a href="{% url detail-event-view e.slug %}">{{ e.name }}</a></td>
                        <td><a href="{% url activate-event e.id %}"><i class="icon-ok-sign"></i>Активировать</a></td>
                        <td><a href="{% url delete-event e.id %}"><i class=" icon-remove-sign"></i>Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
