{% extends 'base.html' %}

{% block title %}Регистрация нового пользователя{% endblock %}


{% block page_header %}
    <div class="page-header">
        <h1>Регистрация</h1>
    </div>
{% endblock %}
{% block content %}
    <br/>
    {%  if form.non_field_errors   %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ form.non_field_errors  }}
        </div>
    {% endif %}
     <form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <div class="well">
            <div class="control-group {% if form.username.errors %} error {% endif %}">
                <label class="control-label"  for="id_username">Логин : </label>
                <div class="controls">
                    {{ form.username }}
                    <span class="help-inline">{% if form.username.errors %} {{ form.username.errors }}{% else %} Введите ваш логин{% endif %}</span>
                </div>
             </div>
            <div class="control-group{% if form.password.errors %} error {% endif %}">
                <label class="control-label"  for="id_password">Пароль : </label>
                <div class="controls">
                    {{ form.password }}
                    <span class="help-inline">{% if form.password.errors %} {{ form.password.errors  }}{% else %}  Введите пароль{% endif %}</span>
                    {{ form.password.errors }}
                </div>
            </div>
            <div class="control-group{% if form.password1.errors %} error {% endif %}">
                <label class="control-label"  for="id_password1">Пароль еще раз: </label>
                <div class="controls">
                    {{ form.password1 }}
                    <span class="help-inline">{% if form.password1.errors %} {{ form.password1.errors  }} {% else %} Повторите пароль{% endif %}</span>
                </div>
            </div>
            <div class="control-group {% if form.email.errors %} error {% endif %}">
                <label class="control-label"  for="id_email">E-mail: </label>
                <div class="controls">
                    {{ form.email }}
                    <span class="help-inline">{% if  form.email.errors %}  {{ form.email.errors }}{% else %}  Введите адрес Вашей электронной почты{% endif %}</span>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn" type="submit">Сохранить</button>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}