{% extends 'base.html' %}

{% block title %}Успешная регистрация{% endblock %}


{% block page_header %}
    <div class="page-header">
        <h1>Регистрация прошла успешно ! Ваша заявка будет рассмотрена в течении суток !</h1>
    </div>
{% endblock %}