{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% if event.tags %}<META NAME="Keywords" CONTENT="{% for tag in event.tags.all %}{{tag}}{% if not forloop.last %},{% endif %}{% endfor %}">{% endif %}
    {% if event %}<META NAME="Description" CONTENT="{{description}}">{% endif %}
    <meta content="text/html" >
    <meta charset="utf-8">
    <link  href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_PREFIX }}css/vader/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
   <link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-typeahead.js"></script>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <link  type="text/css" href="{{ STATIC_PREFIX }}css/style.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_PREFIX }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <style>
          
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_date_start').datepicker({ dateFormat: "dd.mm.yy" });
            $('#id_date_end').datepicker({ dateFormat: "dd.mm.yy" });
            $("a#photo1").fancybox()
            $("a#photo2").fancybox();
            $("a#photo3").fancybox();
            $("a#photo4").fancybox();
            $("a#poster").fancybox();

        });

    </script>
</head>
<body>
{% include 'topmenu.html' %}

<div class="container-fluid">
    <div class="hidden-phone hidden-tablet" style="margin-top:60px"></div>
    {% block page_header%}
    {% endblock %}


    
    {% block content %}
    {% endblock %}
<footer class="footer">
  <div class="row-fluid">
        <p>&copy; <a href="http://the7bits.com/" target="blank">7bits</a> 2012 | <a href="mailto:support@aboutevents.com">support@aboutevents.com</a></p>
  </div>
</footer>

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33042657-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter15721249 = new Ya.Metrika({id:15721249, enableAll: true, webvisor:true});
        } catch(e) {}
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/15721249" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
