{% if is_paginated %}
    <div class="pagination">
        <ul>

            {% if page_obj.has_previous %}
                <li>
                    <a href="{%url event-list page_obj.previous_page_number %}"> << </a>
                </li>
                {% ifnotequal page_obj.previous_page_number 1 %}

                    <li>
                        <a href="../page1/">
                            1
                        </a>
                    </li>

                    <li class="disabled">
                        <a href="#">...</a>
                    </li>
                {% endifnotequal %}

                <li>
                    <a href="{% url event-list page_obj.previous_page_number %}">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
            {% endif %}

            <li class="active">
                <a>{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="{% url event-list page_obj.next_page_number %}">
                        {{ page_obj.next_page_number }}</a>
                </li>
                {% ifnotequal page_obj.next_page_number page_obj.paginator.num_pages %}
                    <li class="disabled"><a href="#">...</a></li>
                    <li>
                        <a href="{% url event-list page_obj.paginator.num_pages  %}">{{ page_obj.paginator.num_pages  }}</a>
                    </li>
                {% endifnotequal %}
                <li>
                    <a href="{% url event-list page_obj.next_page_number  %}"> >> </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}