<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a style="margin:5px 0;padding:0;" class="brand" href="/events/page1/"><img id='logo' src='{{ STATIC_PREFIX }}logo.png' /></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-left" >
                    <li ><a id="calendar" href="{% url calendar-view-now %}" style="color: white;"><i class="icon-calendar icon-white"></i> Календарь</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        {% if user.get_profile.moder or user.is_superuser %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;">Персонал <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if user.get_profile.moder %}
                                        <li><a href="{% url moder-view %}">Интерфейс модератора</a></li>
                                    {% endif %}
                                    {% if user.is_superuser %}
                                        <li><a href="{% url admin-view %}" >Интерфейс администратора</a></li>
                                    {% endif %}
                                </ul>
                            </li>  
                        {% endif %}                  

                        <li><a href="{% url create-view %}" style="color: white;">Создать событие</a></li>
                        <li><a href="{% url profile-edit user.get_profile.id %}" style="color: white;"><i class="icon-user icon-white"></i> {{ user.username }}</a></li>
                        <li><a href="{% url logout %}" style="color: white;">Выйти </a></li>

                    {% else %}
    					<li><a href="{% url create-view %}" style="color: white;">Создать событие</a></li>
                        <li><a href="{% url login %}" style="color: white;">Войти</a></li>
                        <li><a href="{% url register %}" style="color: white;">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
