{% extends "admin/base_site.html" %}
{% block content %}

	<form method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="change_user_action">
		<input type="hidden" name="ttt" value="yes">
		<input type="hidden" name="do_action" value="yes">
		<div>
			{{ form.user }}
			<input type="submit" class="default" style="float: none" value="Поменять">
			{{ form.user.errors }}
		</div>
		<h2>Выбранные события</h2>
		<ul>
			{% for object in objects %}
			<li><a href="{{ object.pk }}/">
			{{ object.name }}</a>
			<input type="hidden" name="_selected_action" value="{{object.pk }}">
			</li>
			{% endfor %}
		</ul>
	</form>

{% endblock %}